HOUSE1:Miscelaneous household furniture:50:1
HOUSE2:Household small:5:1
HOUSE3:Cutlery:0.5:1
HOUSE4:Crockery:0.5:1
*Household
HARD1:Large Hardware:30:1
HARD2:Medium Hardware:20:1
HARD3:Small Hardware:10:1
HARD4:Nuts and Bolts:0.2:1
HARD5:Hand Tools:5:1
*Hardware
ELEC1:Household Electronics:15:1
ELEC2:Power Tools:10:1
ELEC3:High Voltage Electronics:10:1 
ELEC4:ELV Nontagged Electronics:20:1
ELEC5:Electrical Cabling:10:1
ELEC6:Peripherals:5:1
*Electronics
GARD1:Plastic Pots:0.2:1
GARD2:Ceramic Pots:5:1
GARD3:Miscelaneous Garden Hardware:1:1
GARD4:Hoses:3:1
*Garden
